{% include 'temp1.html.twig' %}
<style>
    button {
        color: #FFFFFF;
        background-color: #d11414;
        border-color: #d11414;
        border-radius: 6px;
    }
    button:hover {
        color: #FFFFFF;
        opacity: 0.8;
        background-color: #d11414;
        border-color: #d11414;
        border-radius: 6px;
    }
    button:active {
        color: #FFFFFF;
        background-color: #d11414;
        border-color: #d11414;
        border-radius: 6px;
    }

</style>
<div class="box">
    <div class="box-header">
        <h1 style ="margin-bottom: 2%; text-align: center; color: #d11414 ;  " > Gestion des Aides </h1>

        <form action="  {{path('ajouterAide')}}  "><button>Ajouter</button></form>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped" >
            <thead>
            <tr>
                <th> lien_image</th>
                <th>IdAide</th>
                <th>Titre</th>
                <th>description</th>
                <th>adresse</th>
                <th>num_tell</th>
               <th>categorie</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>



            {% for A in listAide %}
                <tr>
                    <td><img style=" padding-right: 2px; padding-left: 2px;  width:60px ; hight: 60px ;" src="{{ asset('uploads/' ~ A.getLienImage())}}"></td>
                    <td>{{ A.id }}</td>
                    <td>{{ A.titre }}</td>
                    <td>{{ A.description}}</td>
                    <td>{{ A.adresse}}</td>
                    <td>{{ A.getNumTell()}}</td>
                    <td>{{ A.categorie.getTitre()}}</td>

                    <td><form action="   {{path('modifierAide',{id:A.id})}}  "><button>Modifier</button></form></td>
                    <td><form action=" {{path('supprimerAide',{id:A.id})}} "><button>Supprimer</button></form></td>
                </tr>
            {% endfor %}



            </tbody>

        </table>
    </div>
    <!-- /.box-body -->
</div>
{% include 'temp2.html.twig' %}