
{% extends 'base.html.twig' %}


{% block body %}
    <style>
        button {
            color: #FFFFFF;
            background-color: #ee5057;
            border-color: #ee5057;
            border-radius: 6px;
            padding: 8px;
            font-size:18px;
        }
        button:hover {
            color: #FFFFFF;
            opacity: 0.8;
            background-color: #ee5057;
            border-color: #ee5057;
            border-radius: 6px;
        }
        button:active {
            color: #FFFFFF;
            background-color: #ee5057;
            border-color: #ee5057;
            border-radius: 6px;
        }

    </style>
    {% block js %} {% endblock %}
    {% include 'Bootstraptemplates/bootstrapAide1.html.twig' with   { 'iduser': iduser }  %}
    <div class="tm-section tm-position-relative">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">
            <polygon fill="#ee5057" points="0,0  100,0  50,60"></polygon>
        </svg>
        <div class="container tm-pt-5 tm-pb-4">
            {{ form(formSearch,{'attr': {'novalidate': 'novalidate'}}) }}

            <div class="row text-center">

                {% for A in listAides %}
                    <article class="col-sm-16 col-md-6 col-lg-6 col-xl-6 tm-article">
                        <i class="fa tm-fa-6x tm-color-primary tm-margin-b-20"><img style=" padding-right: 2px; padding-left: 2px; width:100px ; height: 100px ; " src="{{ asset('uploads/' ~ A.getLienImage())}}"></i>
                        <h3 class="tm-color-primary tm-article-title-1">{{ A.titre }}</h3>
                        <p>{{ A.description}}</p>
                        <p>{{ A.adresse}}</p>
                        <p>{{ A.getNumTell()}}</p>
                        <!--<a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Consulter</a>-->
                        <form action="{{ path("Afficherdetailaide",{'id':A.id,'iduser':iduser} ) }}" class="text-uppercase tm-color-primary tm-font-semibold"><button>Consulter</button></form>

                    </article>
                {% endfor %}

            </div>
        </div>
    </div>


    {% include 'Bootstraptemplates/bootstrapAide2.html.twig' %}

{% endblock %}
