{% extends 'main.html.twig' %}
{% block lienspages %}
<li><a href="/AfficherSujet/{{ board_id }}" style="background-color: white;color: red" ><i class="fa fa-circle-o" style="color: red"></i> Gestion Des Sujet</a></li>
<li  style="background-color: white;" ><a href="{{ asset('/category/produit/service') }}" style="color: red"><i class="fa fa-circle-o" style="color: red"></i> Gestion des Categories produits/services</a></li>
<li  style="background-color: white;" ><a href="{{ asset('/produit/service') }}" style="color: red"><i class="fa fa-circle-o" style="color: red"></i> Gestion des produits/services</a></li>
    <li  style="background-color: white;" ><a href="#" style="color: red"><i class="fa fa-circle-o" style="color: red"></i> Gestion de Moderateur</a></li>
{% endblock %}
{% block content %}

    <table id="tableac" class="table">
        <input id="search" class="form-control mr-sm-2" type="text" name="search" placeholder="Search ..." aria-label="Search"  >
        <script src="{{ asset('/js/jquery.min.js') }}"></script>
    <thead>
    <tr>
        <th scope="col">Les sujets</th>
        <td></td>
        <td>    <form action=" {{ path('ImprimerSujets',{idboard:board_id}) }} "><button>Imprimer</button></form>
        </td>
    </tr>
    </thead>
    <tbody>
    {% for i in list %}

        <tr>
            <td><a href="/ConsulterSujet/{{ i.board.id }}/{{ i.id }}" >{{ i.titre  }}</a></td>
            <td><form action=" {{path('ModifierSujet',{idboard:i.board.id,id:i.id})}} "><button>Modifier</button></form></td>
            <td><form action=" {{path('SupprimerSujet',{idboard:i.board.id,id:i.id})}} "><button>Supprimer</button></form></td>

        </tr>
    {% endfor %}

    <script>
        $(document).ready(function(){
            $('#search').keyup(function(){
                search_table($(this).val());
            });
            function search_table(value){
                $('#tableac tbody tr').each(function(){
                    var found = 'false';
                    $(this).each(function(){
                        if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                        {
                            found = 'true';
                        }
                    });
                    if(found == 'true')
                    {
                        $(this).show();

                    }
                    else
                    {
                        $(this).hide();

                    }
                });
            }
        });
    </script>
    </tbody>
</table>
    <link rel="stylesheet" href="{{ asset('https://pro.fontawesome.com/releases/v5.10.0/css/all.css') }}" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <form action=" {{path('AjouterSujet',{idboard:board_id})}} "><button>Ajouter un sujet</button></form>


{% endblock %}