{% extends 'base.html.twig' %}
{% block body %}
    {% include 'Bootstraptemplates/navbartemplate.html.twig' %}

<br>
    <br>
    <br>
    <h4><p class="text-center">{{ sujet.titre }}</p></h4>
    <h4><p class="text">{{ sujet.description }}</p></h4>
    <center>

<img src="{{ asset('im/' ~sujet.lienimage) }}">

</center>
    <br>
    <h3>Les Commentaires du sujet</h3>
    <table class="table">
        <thead>
        </thead>
        <tbody>
        {% for i in listc %}

{% if i.Sujet.id == sujet.id %}
            <td><div style="color:red">{{ i.User.mail }} </div> {{ i.com }}</td>
                    {% if i.User.id == user.id %}

                <td>
                    <a  href="/ModifierCommentaire/{{ board_id }}/{{ sujet.id }}/{{ i.id }}" class="btn-primary" > Modifier</a>
              <td>
    <a  href="/SupprimerCommentaire/{{ board_id }}/{{ sujet.id }}/{{ i.id }}" class="btn-primary"> Supprimer</a>

          </td>

                </td>


                {% endif %}
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>

    </table>
    {{ form(f) }}
{% endblock %}