{% include 'temp1.html.twig' %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Titre</th>
            <th scope="col">Categorie</th>

        </tr>
        </thead>
        <tbody>
        {% for i in listB %}

            <tr>
                <td>{{ i.id  }}</td>
                <td>{{ i.titre  }}</td>
                <td>{{ i.categorie  }}</td>

                <td>
                    <a href="{{ path('updateBoard', {id: i.id}) }}">  Modifier</a>
                </td>
                <td>
                    <a href="{{ path('deleteBoard', {id: i.id}) }}"> Supprimer</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="/AjouterCategorie" >Ajouter une Categorie</a> </br>
{#
<form name="form" action="BoardController.php/Ajoutermot()" method="get">
    <h1>Ajouter un mot indisérable</h1>
    <input id="Mot" class="form-control mr-sm-2" type="text" name="Mot" placeholder="Mot ..." aria-label="Search"  >
    <button type="submit" value="Ajouter" class="text-uppercase btn-primary tm-btn-primary">Ajouter</button>
    <a href="{{ path({'mot': form.Mot.All.value }) }} class="text-uppercase btn-primary tm-btn-primary" >  Ajouter</a>

</form>
#}




{% endblock %}
{% include 'temp2.html.twig' %}
