
{% include('temp1.html.twig') %}
<div class="content">
<h1>Societe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ societe.id }}</td>
            </tr>
            <tr>
                <th>Numregistre</th>
                <td>{{ societe.numregistre }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ societe.adresse }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ societe.type }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ societe.etat ? 'Yes' : 'No' }}</td>
            </tr>
         <tr>
             <td>
                 {{ include('societe/_delete_form.html.twig') }}
             </td>
             <td>
                 {% if(societe.etat==false) %}
                 <a class="btn btn-danger" href="{{ path('societe_confirmer', {'id': societe.id}) }}"> Confirmer </a>
             {% endif %}
             </td>
            </tr>
        </tbody>
    </table>
    {# <a href="{{ path('societe_demandes') }}">back to list</a>
     <br>
    #}
    {# <a href="{{ path('societe_edit', {'id': societe.id}) }}">edit</a>
    <br>
    #}
</div>
{% include('temp2.html.twig') %}
