{% for c in ProduitService %}
    <tr>
        <td>{{ c.titre }}</td>
        <td>{{ c.description }}</td>
        <td><img src ="{{ asset('img/' ~ c.getLienImage()) }}"
                 alt = "" style = "width:50px; height: 50px">
        </td>
        <td>{{ c.type }}</td>
        <td>{{ c.prixunitaire }}</td>

        <td><a href="{{ path("produit_service_delete", {'id' : c.id}) }}" >Supprimer</a> </td>
        <td><a href="{{ path("produit_service_update", {'id' : c.id}) }}" >Modifier</a> </td>
    </tr>
{% endfor %}
