

    {% include('temp1.html.twig') %}
        <div class="content">
    <h1>User index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Password</th>
            <th>Type</th>
            <th>Mail</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.type }}</td>
                <td>{{ user.mail }}</td>
                <td>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    {% include('temp2.html.twig') %}

